/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Reset */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos globales */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.5;
    background-color: #FFFFFF; /* Color de fondo sólido */
}

/* input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    outline: none;
} */

/* input:focus {
    border-color: #38bdf8;
    box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.4);
}

button {
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
} */



::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: #F47821;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #617682;
}

.scrollable {
    scrollbar-width: thin;
    scrollbar-color: #122731 #F1F1F1;
}